<footer class="site-footer">
  <div class="wrapper">

    <div class="column column-half">
      <p><a href="https://github.com?utm_source=gitlfs_site&amp;utm_medium=footer&amp;utm_campaign=gitlfs" class="gh-colophon">
      <span class="octicon octicon-code"></span> with <span class="octicon octicon-heart"></span> by <span class="octicon octicon-logo-github"></span>.</a></p>
    </div>

    <div class="column column-half">
      <p class="sfc-link">Git is a member of <a href="http://sfconservancy.org/">Software Freedom Conservancy</a>.</p>
    </div>

  </div>
</footer>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-3769691-56', 'auto');
  ga('send', 'pageview');

</script>
