// Base styles
// ---------------------------------------/
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  background: $site_bg;
}

body {
  @include sans;
  font-family: "adelle", Georgia, "Times New Roman", serif;
  color: $text_color;
  line-height: 1.5;
}

// clearfix (now called group,
// via http://css-tricks.com/snippets/css/clear-fix/)
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both; }
.group { zoom:1; /* For IE 6/7 (trigger hasLayout) */ }

// link colors

a {
  color: $link_color;
  text-decoration: none;

  &:hover {
    text-decoration: none;
    opacity: .8;
  }
  &:active,
  &:focus { outline: none; }
}

::-moz-selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}
::selection {
    background: rgba(51,51,51,.8);
    color: #fff;
    text-shadow: none;
}

// button

.button {
  background: $tan;
  border: 1px solid $border_color;
  display: block;
  @include border-radius(5px);
  text-align: center;
  font-size: 1.4285714286rem;
  padding: 10px 30px;
  font-weight: 600;
  max-width: 350px;
  margin: 20px 0;

  & .octicon {
    font-size: 1.4285714286rem;
    margin-left: -5px;
  }

  @include media_1 {
    display: inline-block;
  }
}