/*
Fluid, centered column for site content.
Width is declared in % to maintain the
proportion of whitespace in the layout .
*/
.container {
  position: relative;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  clear: both;

  &:before { display: table; content: " "; }
  &:after { display: table; clear: both; }
}

/*Grid system
Create rows with `.columns` to clear the floated columns */

.columns { width: 100%; overflow: hidden;
  &:before { display: table; content: " "; }
  &:after { display: table; clear: both; }
}

/*Base class for every column (requires a column width from below)*/
.column {
  float: left;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* #Media Queries
================================================== */
@media screen and (min-width: 700px) {
  /*Column widths*/
  .one-third { width: 33%; }
  .two-thirds { width: 67%; }
  .one-fourth { width: 25%; }
  .one-half { width: 50%; }
  .three-fourths { width: 75%; }
  .one-fifth { width: 20%; }
  .four-fifths { width: 80%; }

  /*Equal width columns via table sorcery.*/
  .table-column {
    display: table-cell;
    width: 1%;
    padding-right: 1rem;
    padding-left: 1rem;
    vertical-align: top;
  }
}

@media (min-width: 700px) {
  .container { width: 92%; }
}

@media (min-width: 900px) {
  .container { width: 87%; }
}

@media (min-width: 1100px) {
  .container { width: 80%; max-width: 1400px; }
}
