// Home styles
// ---------------------------------------/

.home-hero {
  background: $tan_darker;
  padding: 24px 0;

  h1 {
    font-size: 1.7142857143rem;
    font-weight: 600;
    color: $heading_color;
  }

  .button {
    margin-left: auto;
    margin-right: auto;

    @include media_1 {
      margin-bottom: 0;
      margin-right: 20px;
    }
  }

  .secondary-cta {
    text-align: center;
    display: block;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;

    @include media_1 {
      display: inline-block;
    }
  }
}
