// Home styles
// ---------------------------------------/

// hero section

.home-hero {
  background: $tan_darker;
  padding: 24px 0;
  border-bottom: 1px solid $border_color;

  h1 {
    font-size: 1.7142857143rem;
    font-weight: 600;
    color: $heading_color;
    margin: 0 0 1rem;
    line-height: 1.2;

    @include media_1 {
      margin: 1rem 0;
      line-height: 1.5;
    }
  }

  .button {
    margin-left: auto;
    margin-right: auto;

    @include media_1 {
      margin-bottom: 0;
      margin-right: 20px;
      margin-top: .5rem;
    }

    .download-details {
      font-weight: 400;
      font-size: 1rem;
    }
  }

  .secondary-cta {
    text-align: center;
    display: block;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;

    @include media_1 {
      display: inline-block;
    }
  }

  .secondary-download {
    margin-top: 1rem;
  }

  // For Homebrew install script

  code {
    font-weight: 400;
    background: $tan_darker2;
    @include border-radius(5px);
    padding: .15rem .5rem;
    border: 1px solid $border_color;
  }

  .graphic {
    @include media_max(900px) {
      padding-top: 2rem;
      border-top: 1px solid $border_color;
      margin-top: 2rem;
    }

    h2 {
      font-weight: 400;
      font-size: 1.5rem;
      @include media_1 { display: none; }
    }
  }

  .how-it-works-graphic {
    width: 100%;

    @include media_3 {
      width: 500px;
    }

  }
}

// getting started section

.install-steps {
  padding: 0;
  margin: 1rem 0;
  list-style-position: inside;

  li {
    font-weight: 600;

    p { font-weight: 400; }

    pre {
      font-weight: 400;
      background: $tan_darker2;
      @include border-radius(5px);
      padding: 1rem;
      border: 1px solid $border_color;
    }
  }

}

// features section

.features-list {
  padding: 0;
  margin: 1rem 0;
  list-style: none;
}

.hero-octicon {
  background: $tan_darker2;
  @include border-radius(100px);
  height: 60px;
  width: 60px;
  text-align: center;
  margin-bottom: 1rem;

  @include media_1 {
    height: 88px;
    width: 88px;
  }

  .mega-octicon {
    line-height: 60px;
    color: $tan_darker4;

    @include media_1 {
      line-height: 88px;
      font-size: 38px;
    }
  }
}

.feature {
  padding: 1rem 0;
  overflow: hidden;

  h3 {
    font-size: 1.375rem;
    margin: 0 0 1rem;
    font-weight: 400;
    color: $heading_color;
  }

  .hero-octicon {
    @include media_1 {
      float: left;
      margin-right: 1rem;
      margin-bottom: 0;
    }
  }

  .content {
    @include media_1 {
      padding-left: 104px;
      padding-left: calc( 88px + 1rem);
    }
  }

  p { margin-bottom: 0; }
}

// dot com announcement banner

.dot-com-announcement {
  display: block;
  background: $tan_darker2;
  border: 1px solid $tan_darker3;
  text-align: center;
  margin-top: 1rem;
  border-radius: 5px;
  font-size: 1.125rem;
  padding: 1rem;
  color: $tan_darker4;

  span {
    text-decoration: underline;
    color: $aqua;
  }

  br {
    @include media_1 { display: none; }
  }
}
