// Layout styles
// ---------------------------------------/

// site header

.site-header {
  padding: 20px 0 10px;
  border-bottom: 1px solid $border_color;

  @media (min-width: 700px) {
    padding: 40px 0;
  }
}

.site-title {
  display: block;
  text-align: center;
  height: 48px;

  @include media_1 { float: left; }

  .git-lfs-logo-svg {
    width: 100%;
    max-width: 412px;

    @include media_min(800px) { width: 412px; }
  }
}

.site-nav {
  text-align: center;

  @include media_1 { float: right; }

  .page-link {
    margin-left: 20px;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 48px;

    &:first-child { margin-left: 0; }
  }
}

// site footer

.site-footer {
  background: $tan_darker;
  border-top: 1px solid $border_color;
  padding: 40px 0;
}

.gh-colophon {
  text-align: center;
  margin: 0 auto;
  display: block;
  color: $brown;

  .octicon {
    font-size: 20px;
    position: relative;
    top: 1px;

    &.octicon-logo-github { top: 2px; }
  }
}

// grid

.wrapper:before,
.wrapper:after { content:""; display:table; }
.wrapper:after { clear: both; }
.wrapper {
  max-width: 1084px;
  padding: 0;
  margin: 0 auto;
  zoom: 1;
}

.column {
  float: left;
  width: 100%;
  padding-left: 1.5rem;
  padding-right: 1.5rem;

  &.column-half {
    @include media_1 { width: 50%; }
  }
}