// Mixins
// ---------------------------------------/

@function em( $fontSize, $contextSize: 16 ) {
  @return 1em * ( $fontSize / $contextSize ); }

@function pct( $size, $context ) {
  @return percentage( $size / $context ); }

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

// media querie tools
@mixin bp($screen_width) {
  @media (max-width: $screen_width) { @content; }
}

@mixin bp_main {
  @media (max-width: 1440px) { @content; }
}

@mixin sans {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@mixin sans_light {
  @include sans;
  font-weight: 300;
}

@mixin sans_regular {
  @include sans;
  font-weight: 400;
}

@mixin sans_semibold {
  @include sans;
  font-weight: 600;
}

@mixin sans_bold {
  @include sans;
  font-weight: 700;
}

@mixin sans_extrabold {
  @include sans;
  font-weight: 800;
}