// Variables
// ---------------------------------------/

// colors
$white:             #fff;
$black:             #333;
$tan:               #efefe7;
$tan_darker:        #eae9e1;
$tan_darker2:       #e2e1d9;
$tan_darker3:       #d7d6ce;
$brown:             #6c5f54;
$brown_darker:      #403830;
$aqua:              #0088A8;
$red:               #f64b18;

// styles
$site_bg:           $tan;
$text_color:        $brown;
$heading_color:     $brown_darker;
$link_color:        $aqua;
$subhead_color:     $red;
$border_color:      $tan_darker3;