<section class="home-hero">
  <div class="wrapper">

    <div class="column-half column">

      <h1 class="page-heading">An open source Git extension for versioning large files</h1>

      <p class="description">Git Large File Storage (LFS) replaces large files such as audio samples, videos, datasets, and graphics with text pointers inside Git, while storing the file contents on a remote server like GitHub.com or GitHub Enterprise.</p>

      <a href="https://github.com/github/git-lfs/releases" class="button primary-cta js-os-data" data-os-attr="href"
        data-os-mac="https://github.com/github/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-darwin-amd64-{{site.git-lfs-release}}.tar.gz"
        data-os-windows="https://github.com/github/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-windows-amd64-{{site.git-lfs-release}}.zip"
        data-os-linux="https://github.com/github/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-linux-amd64-{{site.git-lfs-release}}.tar.gz">
        <span class="octicon octicon-cloud-download"></span>
        Download
      </a>

      <a href="https://github.com/github/git-lfs" class="secondary-cta">Or, view source</a>

    </div>

    <div class="column-half column graphic">
      <h2>How it works:</h2>
      <img src="/images/static-graphic.png" alt="a diagram showing how Git LFS works" width="500">
    </div>

  </div>
</section>
