<section class="home-hero">
  <div class="wrapper">

    <div class="column-half column">

      <h1 class="page-heading">An open source Git extension for versioning large files</h1>

      <p class="description">Git Large File Storage (LFS) is an open source Git extension for managing binary files or any file bigger than a few MB. Git LFS replaces large files such as audio samples, videos, datasets, and graphics with text pointers inside Git, while storing the file contents on a remote server like GitHub.com or GitHub Enterprise.</p>

      <a href="#" class="button primary-cta"><span class="octicon octicon-cloud-download"></span> Download</a>

      <a href="#" class="secondary-cta">Or, view source</a>

    </div>

    <div class="column-half column graphic">
      <h2>How it works:</h2>
      {% include how_it_works_graphic_svg.html %}
    </div>

  </div>
</section>