<section class="home-hero">
  <div class="wrapper">

    <div class="column-half column">

      <h1 class="page-heading">An open source Git extension for versioning large files</h1>

      <p class="description">Git Large File Storage (LFS) replaces large files such as audio samples, videos, datasets, and graphics with text pointers inside Git, while storing the file contents on a remote server like GitHub.com or GitHub Enterprise.</p>
      <div class="js-windows visually-hidden">
        <p>
          <a class="button primary-cta" data-ga-params="download,button"
              href="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-windows-v{{site.git-lfs-release}}.exe">
            <span class="octicon octicon-cloud-download"></span>
            Download <span class="download-details">v{{site.git-lfs-release}} (Windows)</span>
          </a>
        </p>
      </div>
      <div class="js-mac visually-hidden">
        <p>
          <a class="button primary-cta" data-ga-params="download,button"
              href="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-darwin-amd64-v{{site.git-lfs-release}}.zip">
            <span class="octicon octicon-cloud-download"></span>
            Download <span class="download-details">v{{site.git-lfs-release}} (Mac - Intel Silicon)&nbsp;&nbsp;</span>
          </a>
        </p>
        <p>
          <a class="button primary-cta" data-ga-params="download,button"
              href="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-darwin-arm64-v{{site.git-lfs-release}}.zip">
            <span class="octicon octicon-cloud-download"></span>
            Download <span class="download-details">v{{site.git-lfs-release}} (Mac - Apple Silicon)</span>
          </a>
        </p>
        <p class="secondary-download">
          <a href="http://brew.sh">Homebrew</a>: <code>brew install git-lfs</code><br>
          <a href="https://www.macports.org">MacPorts</a>:&nbsp;&nbsp;&nbsp; <code>port install git-lfs</code>
        </p>
      </div>
      <div class="js-linux visually-hidden">
        <p>
          <a class="button primary-cta" data-ga-params="download,packagecloud"
              href="https://packagecloud.io/github/git-lfs/install">
            <span class="octicon octicon-cloud-download"></span>
            Install <span class="download-details">v{{site.git-lfs-release}} via PackageCloud (Linux)</span>
         </a>
        </p>
        <p>
          <a class="button primary-cta" data-ga-params="download,button"
              href="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-linux-amd64-v{{site.git-lfs-release}}.tar.gz">
            <span class="octicon octicon-cloud-download"></span>
            Download <span class="download-details">v{{site.git-lfs-release}} (Linux - x86-64)</span>
          </a>
        </p>
      </div>
    </div>

    <div class="column-half column graphic">
      <h2>How it works:</h2>
      <img class="how-it-works-graphic" src="/images/graphic.gif" alt="a diagram showing how Git LFS works" width="500">
    </div>

  </div>
</section>
