<section class="home-secondary">
  <div class="wrapper">

    <div class="column">
      <a class="dot-com-announcement" data-ga-params="banner"
         href="https://github.com/git-lfs/git-lfs/security/advisories/GHSA-cx3w-xqmc-84g5">
        Git LFS security update: <span>Windows users should update to 2.13.2 or newer</span>.</a>
      </a>
    </div>


    <div class="column column-half home-getting-started">

      <h2 class="section-heading">Getting Started</h2>

      <ol class="install-steps">
        <li>
          <p>
            <a class="js-os-data" data-os-attr="href" data-ga-params="download,link"
               href="https://github.com/git-lfs/git-lfs/releases/latest"
               data-os-mac="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-darwin-amd64-v{{site.git-lfs-release}}.zip"
               data-os-windows="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-windows-v{{site.git-lfs-release}}.exe"
               data-os-linux="https://github.com/git-lfs/git-lfs/releases/download/v{{site.git-lfs-release}}/git-lfs-linux-amd64-v{{site.git-lfs-release}}.tar.gz">Download</a>
            and install the Git command line extension. Once downloaded and installed, set up Git LFS for your user account by running:
          </p>
          <pre>git lfs install</pre>
          <p>You only need to run this once per user account.</p>
        </li>
        <li>
          <p>In each Git repository where you want to use Git LFS, select the file types you'd like Git LFS to manage (or directly edit your .gitattributes). You can configure additional file extensions at anytime.</p>
<pre>git lfs track "*.psd"</pre>
          <p>Now make sure .gitattributes is tracked:</p>
<pre>git add .gitattributes</pre>
          <p>Note that defining the file types Git LFS should track will not, by itself, convert any pre-existing files to Git LFS, such as files on other branches or in your prior commit history. To do that, use the <a href="https://github.com/git-lfs/git-lfs/blob/main/docs/man/git-lfs-migrate.1.ronn?utm_source=gitlfs_site&amp;utm_medium=doc_man_migrate_link&amp;utm_campaign=gitlfs">git lfs migrate[1]</a> command, which has a range of options designed to suit various potential use cases.</p>
        </li>
        <li>
          <p>There is no step three. Just commit and push to GitHub as you normally would; for instance, if your current branch is named <code>main</code>:</p>
<pre>
git add file.psd
git commit -m "Add design file"
git push origin main</pre>
          <p>Check out our <a href="https://github.com/git-lfs/git-lfs/wiki?utm_source=gitlfs_site&amp;utm_medium=wiki_link&amp;utm_campaign=gitlfs">wiki</a>, <a href="https://github.com/git-lfs/git-lfs/discussions?utm_source=gitlfs_site&amp;utm_medium=discussions_link&amp;utm_campaign=gitlfs">discussion forum</a>, and <a href="https://github.com/git-lfs/git-lfs/tree/main/docs?utm_source=gitlfs_site&amp;utm_medium=docs_link&amp;utm_campaign=gitlfs">documentation</a> for help with any questions you might have!</p>
        </li>
      </ol>

      <h2 class="section-heading">Git LFS is an open source project</h2>

      <p>To start a discussion, file an issue, or contribute to the project, head over <a href="https://github.com/git-lfs/git-lfs?utm_source=gitlfs_site&amp;utm_medium=repo_link&amp;utm_campaign=gitlfs">to the repository</a>
        or read our <a href="https://github.com/git-lfs/git-lfs/blob/main/CONTRIBUTING.md?utm_source=gitlfs_site&amp;utm_medium=contributing_link&amp;utm_campaign=gitlfs">guide to contributing</a>.</p>
      <p>If you're interested in integrating Git LFS into another tool or product, you might want to read the
        <a href="https://github.com/git-lfs/git-lfs/blob/main/docs/api/README.md?utm_source=gitlfs_site&amp;utm_medium=api_spec_link&amp;utm_campaign=gitlfs">API specification</a>
        or check out our <a href="https://github.com/git-lfs/lfs-test-server?utm_source=gitlfs_site&amp;utm_medium=reference_servedr&amp;utm_campaign=gitlfs">reference server implementation</a>.</p>

    </div><!-- /.home-getting-started -->

    <div class="column column-half home-features">

      <h2 class="section-heading">Features</h2>

      <ul class="features-list">

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-file-binary"></span>
          </div>
          <div class="content">
            <h3>Large file versioning</h3>
            <p>Version large files—even those as large as a couple GB in size—with Git.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-repo"></span>
          </div>
          <div class="content">
            <h3>More repository space</h3>
            <p>Host more in your Git repositories. External file storage makes it easy to keep your repository at a manageable size.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-cloud-download"></span>
          </div>
          <div class="content">
            <h3>Faster cloning and fetching</h3>
            <p>Download less data. This means faster cloning and fetching from repositories that deal with large files.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-git-branch"></span>
          </div>
          <div class="content">
            <h3>Same Git workflow</h3>
            <p>Work like you always do on Git—no need for additional commands, secondary storage systems, or toolsets.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-lock"></span>
          </div>
          <div class="content">
            <h3>Same access controls and permissions</h3>
            <p>Keep the same access controls and permissions for large files as the rest of your Git repository when working with a remote host like GitHub.</p>
          </div>
        </li>

      </ul>

    </div><!-- /.home-features -->

  </div>
</section>
