<section class="home-secondary">
  <div class="wrapper">

    <div class="column column-half home-getting-started">

      <h2 class="section-heading">Getting Started</h2>

      <ol class="install-steps">
        <li>
          <p><a href="https://github.com/github/assets-team/blob/master/projects/git-lfs">Download</a> and install the Git command line extension. You only have set up Git LFS once.</p>
        </li>
        <li>
          <p>Select the file types you'd like Git LFS to manage (or directly edit your .gitattributes). You can configure additional file extensions at anytime.</p>
<pre>git lfs track "*.psd"</pre>
        </li>
        <li>
          <p>There is no step three. Just commit and push to GitHub as you normally would.</p>
<pre>git add file.psd
git commit -m "Add design file"
git push origin master</pre>
        </li>
      </ol>

      <h2 class="section-heading">Git LFS is an open source project</h2>

      <p>To file an issue or fix a bug, see a reference server implementation, or read the specification, head over <a href="https://github.com/github/git-lfs">to the repository</a> or read our <a href="https://github.com/github/git-lfs/blob/master/CONTRIBUTING.md">guide to contributing</a>.</p>

    </div>

    <div class="column column-half home-features">

      <h2 class="section-heading">Features</h2>

      <ul class="features-list">

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-file-binary"></span>
          </div>
          <div class="content">
            <h3>Large file versioning</h3>
            <p>Version large files—even those as large as a couple GB in size—with Git.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-repo"></span>
          </div>
          <div class="content">
            <h3>More repository space</h3>
            <p>Host more in your Git repositories. External file storage makes it easy to keep your repository at a manageable size.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-cloud-download"></span>
          </div>
          <div class="content">
            <h3>Faster cloning and fetching</h3>
            <p>Download less data. This means faster cloning and fetching from repositories that deal with large files.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-git-branch"></span>
          </div>
          <div class="content">
            <h3>Same Git workflow</h3>
            <p>Work like you always do on Git—no need for additional commands, secondary storage systems, or toolsets.</p>
          </div>
        </li>

        <li class="feature">
          <div class="hero-octicon">
            <span class="mega-octicon octicon-lock"></span>
          </div>
          <div class="content">
            <h3>Same access controls and permissions</h3>
            <p>Keep the same access controls and permissions for large files as the rest of your Git repository when working with a remote host like GitHub.</p>
          </div>
        </li>

      </ul>

    </div><!-- /.home-features -->

  </div>
</section>