<section class="home-secondary">
  <div class="wrapper">

    <div class="column column-half home-getting-started">

      <h2 class="section-heading">Getting Started</h2>

      <ol class="install-steps">
        <li>
          <p><a href="https://github.com/github/assets-team/blob/master/projects/git-lfs">Download</a> and install the Git command line extension. You only have set up Git LFS once.</p>
        </li>
        <li>
          <p>Select the file types you'd like Git LFS to manage (or directly edit your .gitattributes). You can configure additional file extensions at anytime.</p>
<pre>git lfs track "*.psd"</pre>
        </li>
        <li>
          <p>There is no step three. Just commit and push to GitHub as you normally woold.</p>
<pre>git add ABigFile.psd
git commit -m "Add photoshop designs of the new feature"
git push origin master</pre>
        </li>
      </ol>

    </div>

    <div class="column column-half home-benefits">

      <h2 class="section-heading">Features</h2>

    </div>

  </div>
</section>